#top-navbar {
    position: fixed;
    top: 6px;
    width: 100%;
    left: 0px;
    /*To je komentar 
    background-color: lightblue;  
    */
}

#nav-upper-right {
    float: right;
}

li {
    display: inline;
}
#profile-img {
    width: 32px;
    height: 32px;
    border-radius: 16px;
}
.google-slika {
    position: absolute;
    top: 15%;
    left: 15%;
    text-align: center;
}
.iskalnik {
    position: absolute;
    top: 45%;
    left: 35%;
    width: 600px;
    height: 50px;
}
#input-nav {
    margin: auto;
}

#nav-bottom {
    position: fixed;
    bottom: 0px;
    width: 100%;
    left: 0px;
}
#nav-bottom-left{
    float: left;
}
